.testimonials{
    height: 1486px;
    width: 100%;
    justify-content: flex-start;
    align-items: inherit;
}
.worldmap{
    position: relative;
    background-image: url(/images/world.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.worldmap .backdrop{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);;
}
.worldmap .backdrop .container{
    padding: 5%;
    color: #fff;
    width: 90%;
    height: 90%;
}
.worldmap .backdrop .container .optionGroupContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.worldmap .backdrop .container .optionItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    justify-content: space-between;
}

.worldmap .backdrop .container .optionGroupContainer .circle{
    width: 30;
    height: 30;
    border-radius: 40px;
    border: 1px solid #ccc;
}
.worldmap .backdrop .container .optionGroupContainer .label{}

.worldmap .backdrop .container .detailsOptionContainer{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70%;
}
.worldmap .backdrop .container .detailsOptionContainer .detailsOption{
    width: 50%;
    height: 70%;
}
.worldmap .backdrop .container .detailsOptionContainer .detailsOption .cricleButtonContainer{
    display: flex;

}
.worldmap .backdrop .container .detailsOptionContainer .detailsOption .cricleButtonContainer .circleButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #EF3057;
    border-radius: 50px;
    margin: 0px 20px;
}

.worldmap .backdrop .container .lineAmount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}